.app-wrapper{
  display: grid;
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  grid-template-areas: 
  'h h'
  'n c';
}


.header {
  grid-area: h;
  background-color: greenyellow;
}

.nav {
  grid-area: n;
  background-color: grey;
}

.nav div a{
  color: white;
  text-decoration: none;
}

.content {
  grid-area: c;
  background-color: goldenrod;
}